<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxiang.edu.service.core.mapper.SubjectMapper">

    <resultMap id="nestedSubjectMap" type="com.yuxiang.edu.service.core.entity.vo.SubjectVO">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="sort" column="sort" />
        <collection property="children"
                    column="id"
                    select="selectNestedSByParentId"
                    ofType="com.yuxiang.edu.service.core.entity.vo.SubjectVO">
        </collection>
    </resultMap>

    <select id="selectNestedSByParentId" parameterType="String" resultMap="nestedSubjectMap">
        select id, title, sort from core_subject where parent_id = #{parentId}
    </select>
</mapper>
